
.opinionsWrapper {
  max-width: 1200px;
  margin: 30px auto 0 auto;
  text-align: center;
}

.opinionsSortingDiv{
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px auto 5px auto;
  max-width: 300px;
}


.iconsDiv{
  padding: 5px;
  min-width: 100px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

    .opinionDetails{
      font-size: 17px;
      width: 30%;
      text-align: justify;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .boldFont{
        font-weight: bold;
      }

    }

    .opinionText{
      width: 60%;


      p{
        text-align: justify;
      }
    }

    .date{
      font-weight: bold;
    }

    .formattedDate{
      padding-top: 5px;
    }


  .addingOpinionButton{
    width: 50%;
    margin: 20px auto;
    max-width: 400px;
  }

  .notLoggedText{
    color: red;
    padding: 5px 0;
  }


  .badCommentIcon{
    cursor: pointer;
    color: red;
    transform: scale(1.5);
  }

  .deletingIcon{
    cursor: pointer;
    color: black;
    transform: scale(1.5);
  }


.modalWrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 150px;
  width: 30%;
  background-color: #fff;
  border: 2px solid #000;
  //box-shadow: 24px;
  padding: 20px 5px;
  text-align: center;

  .addingOpinionForm{
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction:  column;
    gap: 10px;

    .rating{
      width: max-content;
      margin: 0 auto;
    }

    .textarea{
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      resize: none;
      padding: 5px;
    }
  }
}