
.opinionsWrapper{
  max-width: 1200px;
  margin: 30px auto 0 auto;
  text-align: center;


  .opinion{
    margin: 20px auto;
    max-width: 800px;
    border: 1px solid black;
    border-radius: 5px;
    display: flex;
    padding: 20px;

    .opinionDetails{
      font-size: 17px;
      width: 30%;
      text-align: justify;
      display: flex;
      flex-direction: column;
      gap: 10px;

      .boldFont{
        font-weight: bold;
      }

    }

    .opinionText{
      width: 60%;


      p{
        text-align: justify;
      }
    }
  }

  .addingOpinionButton{
    width: 50%;
    margin: 20px auto;
    max-width: 400px;
  }

  .notLoggedText{
    color: red;
    padding: 5px 0;
  }
}

.modalWrapper{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  min-width: 150px;
  width: 30%;
  background-color: #fff;
  border: 2px solid #000;
  //box-shadow: 24px;
  padding: 20px 5px;
  text-align: center;

  .addingOpinionForm{
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction:  column;
    gap: 10px;

    .rating{
      width: max-content;
      margin: 0 auto;
    }

    .textarea{
      border: 2px solid #ccc;
      border-radius: 4px;
      background-color: #f8f8f8;
      resize: none;
      padding: 5px;
    }
  }
}