
.App{
	border: 2px solid #000;
	min-height: 100vh;
	display: flex;
	margin: 0 auto;
	width: 90%;
	position: relative;

}

@media (max-width: 1200px){
	.App{
		flex-direction: column;
	}

	.App * >{
		width: 100%;
	}
}
