
.wrapper{

  margin: 0 auto;
  max-width: 1500px;


  .header{
    text-align: center;
    padding: 10px 0;
    font-weight: bold;
    font-size: 32px;
  }



  .infoWrapper{
    max-width: 1200px;
    margin: 10px auto;
    min-height: 800px;
    border: 2px solid black;

    .description{
      padding: 10px;
      font-size: 18px;
      text-align: justify;
    }
    .imageDiv{
      width: 100%;
      height: 500px;
      margin: 10px auto;

      .img{
        width: 100%;
        height: 100%;
        background-size: cover;
      }

    }

  }


  .topInfoWrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 20px;
    font-size: 18px;

    .postAuthor{
      font-weight: bold;
    }

    .date{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }

}


