
.wrapper{
  text-align: center;
  margin: 0 auto;
  width: 80%;
  max-width: 1200px;
}

.dealersWrapper{

  padding: 5px;
  margin: 10px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: 10px;
  border: 2px solid blue;
}

.singleDealer{
  cursor: pointer;
}

.dealersInfoWrapper{
  margin: 10px auto 0 auto;
  max-width: 600px;
  text-align: center;
  padding: 10px 20px;
  background-color: rgb(25, 103, 248);
  color: #fff;
  border-radius: 10px;

  .span{
    font-weight: bold;
  }

  .mainInfo{
    text-align: left;


  }
}

.moreInfo{
  padding: 20px 0;
}

@media (max-width: 1000px){
  .dealersWrapper{
    flex-direction: column;
  }
}
