
.wrapper{
  //position: absolute;
  //right: 0;
  //top: 0;
  flex: 1;
  min-height: 80vh;
  border: 2px solid red;

}

.commercial{
  border: 3px solid black;
  text-align: center;
  cursor: pointer;
  &__img{
    max-width: 100%;
    display: block;
    width: 100%;


  }
}
