
.wrapper{
  position: relative;
  width: 100%;
  //margin: 0 auto 0 auto;
  border: 2px solid purple;

  main{
    padding-bottom: 100px;
  }
}

@media (min-width:1600px){
  .wrapper{
    width: 80%;
  }
}
