
.wrapper{
  margin: 30px auto 0 auto;
  width: 70%;
  border: 2px solid red;
  text-align: center;

  & > * {
    padding: 10px 0;
  }

  .buttonWrapper{
    display: flex;
    margin: 0 auto;
    border: 2px solid blue;
    width: 60%;
    justify-content: space-evenly;
    align-items: center;
    gap: 5px;

    & >* {
      width: 33%;
      height: 50px;
    }
  }
}

@media (max-width: 850px){

  .wrapper{
    .buttonWrapper{
      flex-direction: column;
      gap: 15px;

      & > *{
        width: 70%;
        height: 70px;
      }
    }
  }

}
