header{
	border: 2px solid red;
	margin: 0 auto;
	padding: 1rem;
}

.headerDiv{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	border: 2px solid yellow;
}



.auth{
	border: 2px solid blue;
	padding: 1rem;
	margin: 0;

	.authButton{
		margin: 0 .5rem;
	}
}

.author{
	color: rgb(0, 132, 255);
	font-weight: bold;

}

