
.wrapper{
  max-width: 1400px;
  margin: 20px auto 0 auto;

  h1{
    text-align: center;
  }

  h3{
    text-align: center;
    padding-top: 5px;
  }

  .singleOrderWrapper{
    padding: 10px 0;
    border: 2px solid black;
    border-radius: 5px;
    max-width: 800px;
    margin: 20px auto;
    position: relative;

    span{
      font-weight: bold;
    }

    h3{
      text-align: center;
    }


    .bookmarkIcon{
      position: absolute;
      top: 30px;
      left: 30px;
      transform: scale(2);
    }

    .icons{
      position: absolute;
      top: 30px;
      right: 30px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-width: 70px;

      > * {
        transform: scale(1.5);
        cursor: pointer;
      }
    }

    .orderMainInfo{
      text-align: center;
    }

    .orderPartInfo{
      max-width: 400px;
      margin: 20px auto;
      background-color: rgb(25, 103, 248);
      color: #fff;
      border-radius: 5px;
      padding: 3px;

      .partName{
        text-align: center;
      }

      .partDetails{
        margin: 0 auto;
        max-width: 200px;
        display: flex;
        justify-content: space-evenly;
        padding: 3px;
      }
    }
  }
}

.editingModelWrapper{
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}